{% extends "admin/base_site.html" %}
{% load static zad_admin %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/foundation/fonts.css' %}?v=1">
<link rel="stylesheet" href="{% static 'main/css/admin_custom.css' %}?v=3">
<link rel="stylesheet" href="{% static 'main/css/admin_modern.css' %}?v=2">
{% endblock %}
{% block extrahead %}{{ block.super }}<script src="{% static 'main/js/admin/theme.js' %}?v=1"></script>{% endblock %}
{% block sidebar %}{% zad_admin_sidebar %}{% endblock %}
{% block extrajs %}
{{ block.super }}
<script src="{% static 'main/js/admin/modern.js' %}?v=1" defer></script>
{% endblock %}
