{% extends "base.html" %}
{% load static %}

{% block body_class %}page-blog-detail{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}?v=1">
{% endblock %}

{% block content %}
{% include "partials/breadcrumbs.html" %}

<article class="container section-block blog-detail">
  {% if post.cover_image %}
    <img src="{{ post.cover_image.url }}" alt="{{ post.title }}" class="cover-image" width="1600" height="900" decoding="async">
  {% endif %}

  <div class="blog-detail__body">
    {{ post.body|linebreaks }}
  </div>
</article>
{% endblock %}
